div#landrush { margin:50px; }
div#landrush h1 { font-size:24px; padding:10px 0;
color: #467C66;
text-align: center
}
div#landrush h2 { font-size:18px; padding:10px 0; 
color: #467C66;
}
div#landrush p { font-size:14px; line-height:18px; }
div#landrush ul { margin:10px 15px; }
div#landrush ul li { font-size:14px; line-height:18px; }
div#landrush div#landrushsearchmodule { font-size:28px; text-align:center; margin:25px; }
div#landrush div#landrushsearchmodule div#landrushresults { margin:25px;  font-size: 18px; }
div#landrush div#landrushsearchmodule button { background-image: url('/images/btn_reservenow.png') }

