.accordion {
	position: relative;
	margin: auto;
	width: 220px;
	top: -16px;
	left: -10px;
	-webkit-box-shadow: 0px 5px 20px 1px #000;
	-moz-box-shadow: 0px 5px 20px 1px #000;
	box-shadow: 0px 5px 20px 1px #000;
}

.accordionHeaders {
	background: rgb(111,119,130); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(111,119,130,1) 0%, rgba(81,88,98,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,119,130,1)), color-stop(100%,rgba(81,88,98,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(111,119,130,1) 0%,rgba(81,88,98,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(111,119,130,1) 0%,rgba(81,88,98,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(111,119,130,1) 0%,rgba(81,88,98,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(111,119,130,1) 0%,rgba(81,88,98,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7782', endColorstr='#515862',GradientType=0 ); /* IE6-9 */
	height: 37px;
	width: 228px;
	border: 1px solid #313842;
	overflow: auto;
	line-height: 35px;
	color: #fafdff;
	text-shadow: 1px 1px 3px #444;
	filter: dropshadow(color=#444, offx=1, offy=1);
	padding: 3px 0 3px 10px;
	position: relative;
	border-top: none;
	cursor: pointer;
	font-size: 12pt;
}

.accordionHeadersGroup {
	background: gray; /* Old browsers */
	background: -moz-linear-gradient(top,  #0099ED 0%, #0064CD 160%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, #0099ED , color-stop(160%,#0064CD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0099ED 0%, #0064CD 160%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0099ED 0%, #0064CD 160%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0099ED 0%, #0064CD 160%); /* IE10+ */
	background: linear-gradient(top,  #0099ED 0%, #0064CD 160%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064CD', endColorstr='#0064CD',GradientType=0 ); /* IE6-9 */
	height: 25px;
	width: 228px;
	border: 1px solid #313842;
	overflow: auto;
	line-height: 25px;
	color: #fafdff;
	text-shadow: 1px 1px 3px #444;
	filter: dropshadow(color=#444, offx=1, offy=1);
	padding: 5px 0px 3px 10px;
	position: relative;
	border-top: none;
	cursor: pointer;
	font-size: 10pt;
}

.accordionHeaders:after {
	content: attr(data-amount);
	width: 30px;
	height: 25px;
	border-radius: 12.5px;
	border: 1px solid #48515a;
	display: block;
	position: absolute;
	right: 10px;
	top: 7px;
	line-height: 25px;
	text-align: center;
	background: rgb(70,76,88); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(70,76,88,1) 0%, rgba(76,84,95,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,76,88,1)), color-stop(100%,rgba(76,84,95,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(70,76,88,1) 0%,rgba(76,84,95,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(70,76,88,1) 0%,rgba(76,84,95,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(70,76,88,1) 0%,rgba(76,84,95,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(70,76,88,1) 0%,rgba(76,84,95,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464c58', endColorstr='#4c545f',GradientType=0 ); /* IE6-9 */
}

.groupsmanage {
	background: gray; /* Old browsers */
	background: -moz-linear-gradient(top,  gray 0%, gray 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gray), color-stop(100%,rgba(81,88,98,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  gray 0%,gray 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  gray 0%,gray 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  gray 0%,gray 100%); /* IE10+ */
	background: linear-gradient(top,  gray 0%,gray 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='gray', endColorstr='gray',GradientType=0 ); /* IE6-9 */
	height: 25px;
	width: 228px;
	border: 1px solid #313842;
	overflow: auto;
	line-height: 25px;
	color: #fafdff;
	text-shadow: 1px 1px 3px #444;
	filter: dropshadow(color=#444, offx=1, offy=1);
	padding: 3px 0 3px 10px;
	position: relative;
	border-top: none;
	cursor: pointer;
	font-size: 10.5pt;
	background: red;
	background: -moz-linear-gradient(top, red 0%, red 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,red), color-stop(100%,red));
	background: -webkit-linear-gradient(top, red 0%,red 100%);
	background: -o-linear-gradient(top, red 0%,red 100%);
	background: -ms-linear-gradient(top, red 0%,red 100%);
	background: linear-gradient(top, red 0%,red 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='red',GradientType=0 );
}

.accordionContent {
	background: #fff;
	height: 30px;
	width: 228px;
	line-height: 28px;
	position: relative;
	padding: 5px 0px 1px 12px;
	border-bottom: 1px solid #ebebed;
	font-size: 10pt;
}

.accordionContent:after {
	content: attr(data-amount);
	width: 30px;
	height: 20px;
	border-radius: 12.5px;
	border: 1px solid #ebebed;
	display: block;
	position: absolute;
	right: 10px;
	top: 7px;
	line-height: 20px;
	text-align: center;
}

.accordionContent:first-child {
	-webkit-box-shadow: inset 0px 5px 5px -2px #c0bcbb;
	-moz-box-shadow: inset 0px 5px 5px -2px #c0bcbb;
	box-shadow: inset 0px 5px 5px -2px #c0bcbb;
}

.accordionContent span {
	padding-right: 10px;
}

.contentHolder {
	position: relative;
	display: none;
	overflow-x: hidden;
	width: 238px;
	padding-left: 1px;
}

.accordionHeaders.selected {
	background: rgb(64,193,235); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(4,123,235,1) 0%, rgba(40,154,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,123,235,1)), color-stop(100%,rgba(40,154,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c1eb', endColorstr='#289ad8',GradientType=0 ); /* IE6-9 */
}

.accordionHeadersGroup.selected {
	background: rgb(64,193,235); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(4,123,235,1) 0%, rgba(40,154,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,123,235,1)), color-stop(100%,rgba(40,154,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c1eb', endColorstr='#289ad8',GradientType=0 ); /* IE6-9 */
}


.groupsmanage.selected {
	background: rgb(64,193,235); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(4,123,235,1) 0%, rgba(40,154,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,123,235,1)), color-stop(100%,rgba(40,154,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(4,123,235,1) 0%,rgba(40,154,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40c1eb', endColorstr='#289ad8',GradientType=0 ); /* IE6-9 */
}
