.meter-wrap {
	position: relative;
}

.meter-wrap, .meter-value, .meter-text {
/* The width and height of your image */
width: 55px;
height: 11px;
}

.meter-wrap, .meter-value {
	background: #bdbdbd url(/asset/images/meter-outline.png) top left no-repeat;
}

.meter-text {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 5px;
	color: #fff;
	text-align: center;
	width: 100%;
}
